#!/bin/bash
[ -f .env ] && source .env

# export S3_INPUT_PATH="s3://nesta-ds-projects/<MISSION OR PRACTICE>/<PROJECT NAME>"
# For Windows users, use bash to run scripts
export OMP_NUM_THREADS=$(nproc 2>/dev/null || sysctl -n hw.physicalcpu 2>/dev/null || echo 1)
# Activate the virtual environment
. .venv/bin/activate
[ -n "$VIRTUAL_ENV" ] || echo "Have you run \`make install\`?"
