polars-lts-cpu==1.5.0
ipfn @ git+https://github.com/nestauk/ipfn.git@master
balance
jupytext
fastexcel
scikit-learn
matplotlib==3.5.2
tqdm
geopandas
shapely
pyGeoTile
pyproj
pandas
geojson
requests
convertbng
pyogrio
regex
xlsx2csv
s3fs==2022.5.0
boto3==1.21.21
tenacity
numpy<2.0.0
fiona
bs4
