polars-lts-cpu
glmnet_python @ git+https://github.com/bbalasub1/glmnet_python.git@1.0
ipfn @ git+https://github.com/nestauk/ipfn.git@master
balance
jupytext
fastexcel
scikit-learn
matplotlib==3.5.2
tqdm
geopandas
shapely
pyGeoTile
pyproj
pandas
geojson
requests
convertbng
pyogrio
regex
xlsx2csv
s3fs==2022.5.0
boto3==1.21.21
tenacity
numpy
fiona
